<div class="login_form">
<table border="0" cellspacing="0" cellpadding="0">
<h1 class="title">Sign in</h1>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div align="left"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div align="left"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div align="left"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div align="left"><%= f.submit "Sign In" %></div>
<% end %>
<%= render :partial => "devise/shared/links" %>
</table>
</div>

 <style>
div.login_form{
	float:right; 
position:relative; 
right:10em; 
text-align:right; 
top:30em; 
width:250px;}
</style>